<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>New User Registration Form</h1>
<form th:action="@{/auth/register}" th:object="${registrationData}" method="POST">
    <label for="firstName">First name:
        <input id="firstName" type="text" th:field="*{firstName}">
    </label>
    <BR><BR>
    <label for="lastName">Last name:
        <input id="lastName" type="text" th:field="*{lastName}">
    </label>
    <BR><BR>
    <label for="login">Login:
        <input id="login" type="text" th:field="*{login}">
    </label>
    <BR><BR>
    <label for="password">Password:
        <input id="password" type="password" th:field="*{password}">
    </label>
    <BR><BR>
    <label for="country"> Country:
        <select id="country" th:field="*{country}">
            <option th:each="country : ${countries}" th:value="${country}"
                    th:text="${country.getPolishName()}"></option>
        </select>
    </label>
    <BR><BR>
    <label for="city">City:
        <input id="city" type="text" th:field="*{city}">
    </label>
    <BR><BR>
    <label for="street">Street:
        <input id="street" type="text" th:field="*{street}">
    </label>
    <BR><BR>
    <label for="zipCode">Postal code:
        <input id="zipCode" type="text" th:field="*{zipCode}">
    </label>
    <BR><BR>
    <label for="preferEmails">
        <input id="preferEmails" type="checkbox" th:field="*{preferEmails}"> Please notify me via email instead of
        trafitional post
    </label>
    <BR><BR>
    <input th:type="submit" th:value="Send">

</form>
</body>
</html>
